[loggers]
keys=root,test

[logger_root]
level=INFO
handlers=sqlite,console

[logger_test]
handlers=sqlite,console
qualname=test
propagate=0

[handlers]
keys=console,sqlite

[handler_console]
class=StreamHandler
level=INFO
formatter=qformat
args=(sys.stderr,)

[handler_sqlite]
class=database.SQLiteHandler.SQLiteHandler
level=INFO
formatter=qformat
args=()

[formatters]
keys=qformat

[formatter_qformat]
format=%(asctime)s %(filename)s %(lineno)d %(levelname)s   %(message)s
datefmt=%Y%m%d %H:%M:%S